* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid #c5c4cb;
}

a {
  text-underline-offset: 0.35em;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  @include set-variables($variables);
}

html,
button,
input {
  font-size: var(--default-font-size);
  font-family: var(--default-font-family), sans-serif;
  font-kerning: normal;
  font-smooth: always;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'onum', 'pnum';
  font-variant-numeric: oldstyle-nums proportional-nums;
}
