$shades: color-shades(
  (
    white: var(--white),
    black: var(--black),
    current: var(--current),
    transparent: var(--transparent),
    inherit: var(--inherit),
    blue: #0f14ff,
    green: #35e525,
    yellow: #e7c621,
    orange: #fd9503,
    primary: #d72745,
    gray: #727492,
  )
);

@include generate_classes(
  (
    class: text,
    property: color,
    pseudos: (
      hover: ':hover',
      focus: ':focus',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);

@include generate_classes(
  (
    class: bg,
    property: background-color,
    pseudos: (
      hover: ':hover',
      focus: ':focus',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);

@include generate_classes(
  (
    class: border,
    property: border-color,
    pseudos: (
      hover: ':hover',
      focus: ':focus',
      active: ':active',
      placeholder: '::placeholder',
    ),
    values: $shades,
  )
);
