@include generate_classes(
  (
    class: cursor,
    property: cursor,
    values: (
      auto: auto,
      default: default,
      pointer: pointer,
      wait: wait,
      text: text,
      progress: progress,
      move: move,
      help: help,
      not-allowed: not-allowed,
      alias: alias,
      copy: copy,
    ),
  )
);

@include generate_classes(
  (
    class: pointer,
    property: pointer-events,
    values: (
      auto: auto,
      none: none,
    ),
  )
);

@include generate_classes(
  (
    class: resize,
    property: resize,
    values: (
      none: none,
      both: both,
      vertical: vertical,
      horizontal: horizontal,
    ),
  )
);
