$spaces: (
  auto: auto,
  none: calc(0 / var(--space)),
  2xs: calc(var(--space) / 4),
  xs: calc(var(--space) / 2),
  sm: var(--space),
  md: calc(var(--space) * 1.5),
  lg: calc(var(--space) * 2),
  xl: calc(var(--space) * 2.5),
  2xl: calc(var(--space) * 3),
  3xl: calc(var(--space) * 4),
  4xl: calc(var(--space) * 5),
  5xl: calc(var(--space) * 6),
  6xl: calc(var(--space) * 7),
  7xl: calc(var(--space) * 8),
  8xl: calc(var(--space) * 9),
  9xl: calc(var(--space) * 10),
  10xl: calc(var(--space) * 12),
  12xl: calc(var(--space) * 16),
  max: calc(var(--space) * 20),
);

@include generate_classes(
  (
    class: m,
    property: margin,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: ms,
    property: margin-left,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: me,
    property: margin-right,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: mt,
    property: margin-top,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: mb,
    property: margin-bottom,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: p,
    property: padding,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: ps,
    property: padding-left,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: pe,
    property: padding-right,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: pt,
    property: padding-top,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: pb,
    property: padding-bottom,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: mx,
    property: (
      margin-left: margin-left,
      margin-right: margin-right,
    ),
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: my,
    property: (
      margin-left: margin-left,
      margin-right: margin-right,
    ),
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: px,
    property: (
      padding-left: padding-left,
      padding-right: padding-right,
    ),
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: py,
    property: (
      padding-top: padding-top,
      padding-bottom: padding-bottom,
    ),
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: space-y,
    append: '> *:not(:first-child)',
    property: margin-top,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: space-x,
    append: '> *:not(:first-child)',
    property: margin-left,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: gap,
    property: gap,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: gap-x,
    property: column-gap,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: gap-y,
    property: row-gap,
    responsive: true,
    values: $spaces,
  )
);
