$spaces: (
  auto: auto,
  none: calc(0 / var(--space)),
  2xs: calc(var(--space) / 4),
  xs: calc(var(--space) / 2),
  sm: var(--space),
  md: calc(var(--space) * 1.5),
  lg: calc(var(--space) * 2),
  xl: calc(var(--space) * 2.5),
  2xl: calc(var(--space) * 3),
  3xl: calc(var(--space) * 4),
  4xl: calc(var(--space) * 5),
  5xl: calc(var(--space) * 6),
  6xl: calc(var(--space) * 7),
  7xl: calc(var(--space) * 8),
  8xl: calc(var(--space) * 9),
  9xl: calc(var(--space) * 10),
  10xl: calc(var(--space) * 12),
  12xl: calc(var(--space) * 16),
  max: calc(var(--space) * 20),
);

@include generate_classes(
  (
    class: m,
    property: margin,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: ms,
    property: margin-left,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: me,
    property: margin-right,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: mt,
    property: margin-top,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: mb,
    property: margin-bottom,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: p,
    property: padding,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: ps,
    property: padding-left,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: pe,
    property: padding-right,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: pt,
    property: padding-top,
    responsive: true,
    values: $spaces,
  )
);
@include generate_classes(
  (
    class: pb,
    property: padding-bottom,
    responsive: true,
    values: $spaces,
  )
);

$spaces-horizontal: (
  auto: (
    margin-left: auto,
    margin-right: auto,
  ),
  none: (
    margin: 0 calc(0 / var(--space)),
    margin-right: calc(0 / var(--space)),
  ),
  2xs: (
    margin: 0 calc(var(--space) / 4),
    margin-right: calc(var(--space) / 4),
  ),
  xs: (
    margin-left: calc(var(--space) / 2),
    margin-right: calc(var(--space) / 2),
  ),
  sm: (
    margin-left: var(--space),
    margin-right: var(--space),
  ),
  md: (
    margin-left: calc(var(--space) * 1.5),
    margin-right: calc(var(--space) * 1.5),
  ),
  lg: (
    margin-left: calc(var(--space) * 2),
    margin-right: calc(var(--space) * 2),
  ),
  xl: (
    margin-left: calc(var(--space) * 2.5),
    margin-right: calc(var(--space) * 2.5),
  ),
  2xl: (
    margin-left: calc(var(--space) * 3),
    margin-right: calc(var(--space) * 3),
  ),
  3xl: (
    margin-left: calc(var(--space) * 4),
    margin-right: calc(var(--space) * 4),
  ),
  4xl: (
    margin-left: calc(var(--space) * 5),
    margin-right: calc(var(--space) * 5),
  ),
  5xl: (
    margin-left: calc(var(--space) * 6),
    margin-right: calc(var(--space) * 6),
  ),
  6xl: (
    margin-left: calc(var(--space) * 7),
    margin-right: calc(var(--space) * 7),
  ),
  7xl: (
    margin-left: calc(var(--space) * 8),
    margin-right: calc(var(--space) * 8),
  ),
  8xl: (
    margin-left: calc(var(--space) * 9),
    margin-right: calc(var(--space) * 9),
  ),
  9xl: (
    margin-left: calc(var(--space) * 10),
    margin-right: calc(var(--space) * 10),
  ),
  10xl: (
    margin-left: calc(var(--space) * 12),
    margin-right: calc(var(--space) * 12),
  ),
  12xl: (
    margin-left: calc(var(--space) * 16),
    margin-right: calc(var(--space) * 16),
  ),
  max: (
    margin-left: calc(var(--space) * 20),
    margin-right: calc(var(--space) * 20),
  ),
);

@include generate_classes(
  (
    class: mx,
    property: margin,
    responsive: true,
    values: $spaces-horizontal,
  )
);

@include generate_classes(
  (
    class: px,
    property: padding,
    responsive: true,
    values: $spaces-horizontal,
  )
);

$spaces-vertical: (
  auto: (
    margin-top: auto,
    margin-bottom: auto,
  ),
  none: (
    margin-top: calc(0 / var(--space)),
    margin-bottom: calc(0 / var(--space)),
  ),
  2xs: (
    margin-top: calc(var(--space) / 4),
    margin-bottom: calc(var(--space) / 4),
  ),
  xs: (
    margin-top: calc(var(--space) / 2),
    margin-bottom: calc(var(--space) / 2),
  ),
  sm: (
    margin-top: var(--space),
    margin-bottom: var(--space),
  ),
  md: (
    margin-top: calc(var(--space) * 1.5),
    margin-bottom: calc(var(--space) * 1.5),
  ),
  lg: (
    margin-top: calc(var(--space) * 2),
    margin-bottom: calc(var(--space) * 2),
  ),
  xl: (
    margin-top: calc(var(--space) * 2.5),
    margin-bottom: calc(var(--space) * 2.5),
  ),
  2xl: (
    margin-top: calc(var(--space) * 3),
    margin-bottom: calc(var(--space) * 3),
  ),
  3xl: (
    margin-top: calc(var(--space) * 4),
    margin-bottom: calc(var(--space) * 4),
  ),
  4xl: (
    margin-top: calc(var(--space) * 5),
    margin-bottom: calc(var(--space) * 5),
  ),
  5xl: (
    margin-top: calc(var(--space) * 6),
    margin-bottom: calc(var(--space) * 6),
  ),
  6xl: (
    margin-top: calc(var(--space) * 7),
    margin-bottom: calc(var(--space) * 7),
  ),
  7xl: (
    margin-top: calc(var(--space) * 8),
    margin-bottom: calc(var(--space) * 8),
  ),
  8xl: (
    margin-top: calc(var(--space) * 9),
    margin-bottom: calc(var(--space) * 9),
  ),
  9xl: (
    margin-top: calc(var(--space) * 10),
    margin-bottom: calc(var(--space) * 10),
  ),
  10xl: (
    margin-top: calc(var(--space) * 12),
    margin-bottom: calc(var(--space) * 12),
  ),
  12xl: (
    margin-top: calc(var(--space) * 16),
    margin-bottom: calc(var(--space) * 16),
  ),
  max: (
    margin-top: calc(var(--space) * 20),
    margin-bottom: calc(var(--space) * 20),
  ),
);

@include generate_classes(
  (
    class: my,
    property: margin,
    responsive: true,
    values: $spaces-vertical,
  )
);

@include generate_classes(
  (
    class: py,
    property: padding,
    responsive: true,
    values: $spaces-vertical,
  )
);

@include generate_classes(
  (
    class: space-y,
    append: ':not(:last-child)',
    property: padding-top,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: space-x,
    append: ':not(:last-child)',
    property: padding-left,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: gap,
    property: gap,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: gap-x,
    property: column-gap,
    responsive: true,
    values: $spaces,
  )
);

@include generate_classes(
  (
    class: gap-y,
    property: row-gap,
    responsive: true,
    values: $spaces,
  )
);
