$variables: (
  container-xs: 40rem,
  container-sm: 52rem,
  container-md: 80rem,
  container-lg: 102.4rem,
  container-xl: 136.6rem,

  border-width: 1px,

  white: white,
  black: black,
  current: currentColor,
  transparent: transparent,
  red: #e21010,
  blue: #1212e7,
  green: #10e421,
  yellow: #dada11,
  orange: #e9910d,

  space: 0.8rem,
  radius: 0.8rem,

  default-font-size: 62.5%,
  default-font-family: Inter,
);
